// -------------------------------------
//   Footer styles
// -------------------------------------

footer{
	bottom: 0;
	width: 100%;
	background-color: #404040;
	p{
		color: $color-text;
		font-size: 1rem;
		margin: 0;
	}
	ul{
		margin-top: 1rem;
	} 
	.message{
		background-color: $color-4;
		padding: 5px 0;
		label{
			margin: 0;
		}
	} 
}

.l-list-inline {
 	@extend l-list-unstyled !optional; 
 
 	li {
 		display: inline;
 		margin-right: 1rem;
 	}
 }

 .social-icon {
	display: inline-block;
	width: 3rem;
	height: 3rem;

	text-align: center;
	margin: 0;
	
	color: #000;
}