// -------------------------------------
//   Header styles 
// -------------------------------------

.l-header {

	#logo {
		margin: 0;
		font-size: 1.625rem;
		line-height: 3rem;

		a {
			text-decoration: none;
		}
	}

	/* .navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
		 background-color: $color-4;
		 border-top: 2px solid #03A9F4;
	 }
	
	.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:hover,
		.navbar-default .navbar-nav > .active > a:focus {
		background-color: $color-4;
		border-top: 2px solid gray;
	} */

	.navbar-header{
		width: 100%;
	}

	.navbar-brand > img{
    	display: block;
		margin: -15px 0 0 0px;
	}

	.navbar-text{
		margin-bottom: 10px;
	}
}

#main-banner {
	padding: 3rem 0 0;
}
