// -------------------------------------
//   Main styles 
// -------------------------------------

ul.list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;

	li {
		width: 220px;
		margin-top: 2px;

		a {
			
			i {
				margin-left: -7px;
				padding-right: 5px;
			}
		}
	}
}

.panel-body {
	position: relative;
	display: block;
}

.visible-sm{
	font-size: 4rem;
	text-align: center;
	li{
		display: inline-block;
		margin-right: 5rem;
		width: 5rem;
		height: 5rem;
	}
	.fa-windows{
		color: $color-1;
	}
	.fa-apple{
		color: $color-dark;
	}
	.fa-download{
		color: $color-2;
	}
	.fa-search{
		color: $color-3;
	}
}

.l-header{
	width: 100%;
}

.l-categories{
	h3{
		font-size: 16px;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}

}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

@media (min-width: 1200px) and (max-width: 1330px){
	.input-group{
		margin-top:10px;
	}
}

/* Portrait & landscape phone */
@media (min-width: 768px) and (max-width: 1200px) {
	ul.list-unstyled {
		
		width: 100%;
		text-align: center;
		
		li {
			display: inline-block;
		}
	}

	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top:50px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

}

@media (min-width: 480px) and (max-width: 768px) {
   /* rules for mobile horizontal (480 > 768)  */
   ul.list-unstyled {
	
	width: 100%;
	text-align: center;
	
		li {
			display: inline-block;
		}
	}

	.alpha{
		h4{
			font-size: 1.5rem;
		}
	}
	.btn-down{
		.down{
			font-size: 1rem;
		}
		
	}
	h1{
		font-size: 1.5em;
		line-height: 1.25em;
	}
	.navbar-collapse.in {
    	overflow-y: visible;
	}
}

@media (max-width: 480px) {	

	.visible-xs{
		font-size: 2rem;
		text-align: center;
		padding: 0;
		li{
			display: inline-block;
			margin-right: 1rem;
			width: 3rem;
			height: 3rem;
		}

		.fa-windows{
			color: $color-1;
		}
		.fa-apple{
			color: $color-dark;
		}
		.fa-download{
			color: $color-2;
		}
		.fa-search{
			color: $color-3;
		}
	}

		h4{
			font-size: 1.5rem;
		}
	.btn-down{
		.down{
			font-size: 1rem;
		}
	}

	h1{
		font-size: 1.5em;
		line-height: 1.25em;
	}

	.navbar-nav{
		margin-top: 0;
	}
	.navbar-collapse.in {
    	overflow-y: visible;
	}
	.navbar-text{
		margin-left: 0;
	}

	.l-header .navbar-brand > img{
		margin: -10px;
	}
}

@media (max-width: 320px)
{
	.navbar-text{
		font-size: 1rem;
	}
}