// -------------------------------------
//   Site settings.
// -------------------------------------

/* Typography */
$base-font-size: 16px;
$font-1: "Helvetica Neu", Helvetica, Arial, sans-serif;
$font-2: Georgia, serif;

$baseline: $base-font-size * 1.5; //24

/* Colors */
$color-dark: #212121;
$color-link-hover: #FFFFFF;

$color-text: #727272;
$color-light-text: #B6B6B6;

$color-hr: #B6B6B6;

$color-1: #337AB7; //blue
$color-2: #F0AD4E; //orange
$color-3: #5BC0DE; //info
$color-4: #E7E7E7;

$color-validation-error: red;
$color-validation-success: green;
$color-envelope: #DB4437;

/* Positioning */
$margin-multiplier: 2;

$general-margin: $baseline * $margin-multiplier;
