// -------------------------------------
//   Base styles
// -------------------------------------

body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font: #{$base-font-size}/#{$baseline} $font-1;
}

p {
	margin-bottom: $baseline;
	a {
		text-decoration: none;
	}
}