// -------------------------------------
//   Button styles 
// -------------------------------------

/* .policecriture{
	background: #d6797b;
	font-size:16px;
	font-weight: 700;
	z-index:9999;
	border-bottom: none;
	margin: 0;
} */

.btn-1800{
	/* bottom: 0;
	position: fixed;
	right: 30px; */
	/* 
	border-radius: 5px;
	background-color: #000; */
	margin-left: 1rem;

	i{
		padding-right:5px;
	}
	transition:background-color 300ms ease-out;
}